.cm/
MLB/
src/syntax.grm.desc
src/syntax.grm.sig
src/syntax.grm.sml
test/*/*.lua
test/*/*/*.lua
test/*/*.js
test/*/*/*.js
bin/lunarml
thirdparty/smlnj-lib/
thirdparty/smlnj-lib-original/
thirdparty/smlnj-lib-lunarml/
thirdparty/ml-yacc/
lib/lunarml/ml/mlyacc-lib/
lib/lunarml/ml/smlnj-lib/
